<a href="https://colab.research.google.com/github/firdaaacy/Praktikum-PPM/blob/main/Praktikum%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum Pengantar Pembelajaran Mesin


---
## Bab 2. Pemrosesan Awal Data



### 1) Import Data

Unduh dataset yang akan digunakan pada praktikum kali ini. Anda dapat menggunakan aplikasi **wget** untuk mendowload dataset dan menyimpannya dalam Google Colab. Jalankan cell di bawah ini untuk mengunduh dataset

In [26]:
#mengunduh dataset sesuai dengan link yang diberikan dengan command wget
! wget https://dataset-ppm.s3.amazonaws.com/iris_missing.csv

--2021-07-08 12:41:15--  https://dataset-ppm.s3.amazonaws.com/iris_missing.csv
Resolving dataset-ppm.s3.amazonaws.com (dataset-ppm.s3.amazonaws.com)... 52.216.9.3
Connecting to dataset-ppm.s3.amazonaws.com (dataset-ppm.s3.amazonaws.com)|52.216.9.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3843 (3.8K) [text/csv]
Saving to: ‘iris_missing.csv.1’

iris_missing.csv.1  100%[===================>]   3.75K  --.-KB/s    in 0s

2021-07-08 12:41:15 (198 MB/s) - ‘iris_missing.csv.1’ saved [3843/3843]

Setelah dataset berhasil diunduh, langkah berikutnya adalah membaca dataset dengan memanfaatkan fungsi [readcsv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) dari library pandas. Lakukan pembacaan berkas csv menggunakan fungsi **readcsv**. Jangan lupa untuk melakukan import library pandas terlebih dahulu

In [27]:
#melakukan import library yang akan digunakan
import pandas as pd #pemanggilan library pandas dengan alias pemanggilan pd
import numpy as np #pemanggilan library numpy dengan alias pemanggilan np

#melakukan pembacaan dataset yang sudah diunduh menggunakan pandas
data = pd.read_csv('iris_missing.csv')

Tampilkan beberapa baris dari dataset untuk mendapatkan informasi singkat mengenai isi data. Gunakan fungsi **head()** untuk menampilkan 5 data pertama.

In [28]:
#menampilkan 5 data teratas
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           0.0          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Berdasarkan informasi dari fungsi **head()**, data iris yang 
digunakan mempunyai 4 fitur sebagai berikut :


1.   sepal length
2.   sepal width
3.   petal length
4.   petal width

### 2) Missing value dan imputasi data




Jika Anda perhatikan dengan seksama, data pada baris ke-3 (index 2) pada fitur sepal length memiliki nilai 0.0. Hal ini menandakan adanya missing value pada data. Jalankan cell di bawah ini untuk mendapatkan semua data yang mengandung missing value. Pencarian data yang mengandung missing value dilakukan dengan tahapan sebagai berikut:


1.   Membuat filter untuk mencari data dengan sepal_length = 0, sepal_width = 0, petal_length = 0, petal_width =0
2.   Mencari data yang memenuhi kondisi1 **atau** kondisi2 **atau** kondisi3 **atau** kondisi4 menggunakan property [loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) pada dataframe

In [29]:
#menentekun kondisi missing value pada dataset
kondisi1 = data['sepal_length'] == 0.0
kondisi2 = data['sepal_width'] == 0.0
kondisi3 = data['petal_length'] == 0.0
kondisi4 = data['petal_width'] == 0.0

#menampilkan data yang pada dataframe yang memiliki missing value
data.loc[kondisi1|kondisi2|kondisi3|kondisi4]

     sepal_length  sepal_width  petal_length  petal_width     species
2             0.0          3.2           1.3          0.2      setosa
11            0.0          3.4           1.6          0.2      setosa
32            5.2          0.0           1.5          0.1      setosa
47            4.6          3.2           0.0          0.2      setosa
51            6.4          0.0           4.5          1.5  versicolor
65            6.7          3.1           4.4          0.0  versicolor
67            5.8          2.7           0.0          1.0  versicolor
86            6.7          0.0           4.7          1.5  versicolor
107           0.0          2.9           6.3          1.8   virginica
112           6.8          3.0           0.0          2.1   virginica
113           5.7          2.5           5.0          0.0   virginica
139           6.9          3.1           5.4          0.0   virginica
145           6.7          3.0           5.2          0.0   virginica

Penanganan missing value pada Pandas akan lebih mudah apabila data yang hilang (bernilai 0.0) diganti dengan NaN (Not A Number). Gunakan properti **replace** pada dataframe untuk menggganti 0.0 menjadi NaN

In [30]:
#mengganti nilai missing value 0.0 menjadi NaN agar tidak dideteksi sebagai data yang bernilai 0
data = data.replace(0.0, np.NaN)

Terdapat beberapa cara untuk mengatasi permasalahan missing value pada data. Salah satu cara yang sederhana adalah dengan mengganti nilai NaN pada suatu fitur dengan rata-rata nilai fitur tersebut pada data lain yang bernilai bukan Nan. Perhatikan bahwa Anda harus mengganti nilai NaN dengan rata-rata data lain yang memiliki kategori (species) yang sama.

Fungsi-fungsi pada Pandas yang dapat Anda manfaatkan:


1.   **transform** untuk mengaplikasikan fungsi tertentu pada dataframe, pada permasalahan ini fungsi yang digunakan adalah fungsi **mean**
2.   **groupby** untuk mengelompokkan dataframe berdasarkan nilai kolom tertentu, pada permasalahan ini kolom yang digunakan adalah **species**
3. **fillna** untuk mengganti nilai NaN dengan nilai yang telah ditentukan




Buatlah fungsi bernama **imputasi** yang melakukan tahapan berikut:


1.   Menghitung rata-rata masing-masing kolom berdasarkan kelasnya
2.   Mengisi kolom yang berisi NaN dengan rata-rata kelas yang sesuai

In [31]:
#membuat fungsi imputasi untuk mengisi missing value dengan rata-rata tiap kelas
def imputasi(df_input):
  list_columns = df_input.columns #mendapatkan daftar nama kolom pada datafarme
  class_column = list_columns[-1] #kolom terakhir adalah kolom kelas
  #melakukan perulangan setiap kolom pada fitur dataframe
  for column in list_columns[:-1]:
    #mengganti nilai NaN dilakukan per kolom
    df_input[column] = df_input[column].fillna(df_input.groupby(class_column)[column].transform('mean'))
  #mengembalikan data yang sudah dihandle missing valuenya dengan mean
  return df_input

Buatlah sebuah dataframe baru bernama **data_imputasi** yang berisi dataset dengan nilai NaN yang sudah diganti dengan cara memanggil fungsi **imputasi**.

In [32]:
#melakukan handling missing value dengan memanggil fungsi imputasi
data_imputasi = imputasi(data)

Cek apakah masih terdapat nilai NaN pada dataframe.

In [33]:
#melakukan pengecekkan apakah ada missing value, jika output false maka missing valuenya sudah tidak ada
data_imputasi.isnull().values.any()

False

### 3) Normalisasi MinMax
Normalisasi bertujuan menyamakan rentang nilai pada setiap fitur. Beberapa metode pembelajaran mesin memiliki kinerja yang buruk apabila rentang nilai tiap variabel berbeda jauh.

Sebelum melakukan normalisasi, cek terlebih dahulu rentang (nilai max - nilai min) pada masing masing fitur

In [34]:
#membuat fungsi cetak_rentang untuk mengetahui rentang sebelum dinormalisasi
def cetak_rentang(df_input):
  list_fitur= df_input.columns[:-1] #mengambil nama kolom, kecuali yang terakhir (kelas)
  #melakukan perulangan untuk setiap fitur pada dataframe
  for fitur in list_fitur :
    #mengambil nilai maksimum dari tiap fitur
    max = df_input[fitur].max()
    #mengambil nilai minimum dari tiap fitur
    min = df_input[fitur].min()
    #menghitung rentang dengan menghitung selisih antara nilai maksimum dan minimum
    print('Rentang fitur ',fitur,' adalah ',max-min)

In [35]:
#mencetak rentang dataframe dengan memanggil fungsi cetak_rentang
cetak_rentang(data_imputasi)

Rentang fitur  sepal_length  adalah  3.6000000000000005
Rentang fitur  sepal_width  adalah  2.4000000000000004
Rentang fitur  petal_length  adalah  5.9
Rentang fitur  petal_width  adalah  2.4

Terlihat bahwa masing-masing fitur memiliki rentang yang berbeda, meskipun tidak terlalu signifikan. Pada praktikum ini Anda akan mengimplementasikan normalisasi MinMax untuk menyamakan rentang setiap fitur menjadi satu (1). Persamaan dari fungsi normalisasi MinMax adalah sebagai berikut:

$x'=\frac{x-min(x)}{max(x)-min(x)}$

dimana $x'$ merupakan nilai ternormalisasi, $x$ adalah nilai asal, $min(x)$ merupakan nilai minimum pada suatu fitur, dan $max(x)$ merupakan nilai maksimum pada suatu fitur.

Implementasikan metode normalisasi MinMax pada fungsi bernama **minmax**.

In [36]:
#membuat fungsi minmax untuk melakukan normalisasi pada dataset
def minmax(df_input):
  #mengambil nama kolom (fitur), kecuali yang terakhir (kelas)
  list_fitur = df_input.columns[:-1]
  #melakukan perulangan untuk setiap fitur pada dataframe
  for fitur in list_fitur :
    #mengambil nilai maksimum dari tiap fitur
    max = df_input[fitur].max()
    #mengambil nilai minimum dari tiap fitur
    min = df_input[fitur].min()
    #mengganti nilai data setiap fitur dengan rumus minmax
    df_input[fitur] = (df_input[fitur]-min)/(max-min)
  #mengembalikan data yang sudah ternormalisasi
  return df_input

Buatlah sebuah dataframe baru bernama **data_normal** yang berisi hasil dari metode minmax dengan input **data_imputasi**

In [37]:
#membuat copy data imputasi agar mereferensi ke alamat yang berbeda
#(agar data zscore tidak melakukan normalisasi data imputasi yang sudah dinormalisasi)
data_imputasi1 = data_imputasi.copy()
#melakukan normalisasi dengan memanggil fungsi minmax
data_normal = minmax(data_imputasi1)

Cek 5 baris pertama **data_normal**

In [38]:
#menampilkan 5 data pertama yang sudah dinormalisasi
data_normal.head()

   sepal_length  sepal_width  petal_length  petal_width species
0      0.222222     0.625000      0.067797     0.041667  setosa
1      0.166667     0.416667      0.067797     0.041667  setosa
2      0.199074     0.500000      0.050847     0.041667  setosa
3      0.083333     0.458333      0.084746     0.041667  setosa
4      0.194444     0.666667      0.067797     0.041667  setosa

Tampilkan rentang masing-masing fitur menggunakan fungsi **cetak_rentang** yang telah dibuat

In [39]:
#menampilkan rentang data yang sudah dinormalisasi
cetak_rentang(data_normal)

Rentang fitur  sepal_length  adalah  1.0
Rentang fitur  sepal_width  adalah  1.0
Rentang fitur  petal_length  adalah  1.0
Rentang fitur  petal_width  adalah  1.0

## TUGAS
1. Implementasikan metode normalisasi Z-score dengan cara membuat fungsi bernama **zscore**.
2. Normalisasikan dataframe **data_imputasi** menggunakan fungsi **zscore**. Simpan hasilnya pada dataframe bernama **data_zscore**.
3. Jelaskan perbedaan hasil normalisasi **MinMax** dan **ZScore**. Petunjuk : cek nilai rentang, rata-rata dan standar deviasi dari **data_zscore**.

In [40]:
#membuat fungsi zscore untuk melakukan normalisasi pada dataset
def zscore(df_input):
  #mengambil nama kolom (fitur), kecuali yang terakhir (kelas)
  list_fitur = df_input.columns[:-1]
  #melakukan perulangan untuk setiap fitur pada dataframe
  for fitur in list_fitur :
    #mengambil nilai rata-rata dari tiap fitur
    avg = df_input[fitur].mean()
    #mengambil nilai standar deviasi dari tiap fitur
    stdev = df_input[fitur].std()
    #mengganti nilai data setiap fitur dengan rumus zscore
    df_input[fitur] = ((df_input[fitur]-avg)/stdev)
  #mengembalikan data yang sudah ternormalisasi
  return df_input

In [41]:
#membuat copy data imputasi agar mereferensi ke alamat yang berbeda
#agar data zscore tidak melakukan normalisasi data normal minmax)
data_imputasi2 = data_imputasi.copy()
#melakukan normalisasi dengan memanggil fungsi minmax
data_zscore = zscore(data_imputasi2)

In [42]:
#menampilkan 5 data teratas yang sudah dinormalisasi
data_zscore.head()

   sepal_length  sepal_width  petal_length  petal_width species
0     -0.907825     1.067415     -1.337827    -1.310036  setosa
1     -1.152507    -0.103209     -1.337827    -1.310036  setosa
2     -1.009776     0.365041     -1.394502    -1.310036  setosa
3     -1.519530     0.130916     -1.281153    -1.310036  setosa
4     -1.030166     1.301539     -1.337827    -1.310036  setosa

In [43]:
#menampilkan rentang data yang sudah dinormalisasi menggunakan zscore
cetak_rentang(data_zscore)

Rentang fitur  sepal_length  adalah  4.404274071759238
Rentang fitur  sepal_width  adalah  5.618992178331548
Rentang fitur  petal_length  adalah  3.3437971620673492
Rentang fitur  petal_width  adalah  3.1570957553844208

Jawaban no 3 :

Normalisasi Zscore  merupakan normalisasi yang menggunakan ukuran penyimpangan data dari rata-rata yang diukur dalam satuan standar deviasi. Jika nilai data diatas z scorenya maka akan bernilai positif dan jika nilainya di bawah z score maka nilainya negatif. Normalisasi Zscore sama juga dengan menstandarisasikan nilai-nilai skor mentah atau nilai yang diamati dari distribusi normal menjadi Z Score atau Skor Z. Hasil dari normalisasi ini adalah rata-rata yang bernilai 0 dan standar deviasi yang bernilai 1 (distribusi normal standar), dan rentangnya mulai dari -3 hingga 3 (6).

Sedangkan normalisasi minmax merupakan salah satu metode normalisasi yang sering digunakan. Untuk setiap fitur akan diubah 0 untuk nilai minimumnya dan 1 untuk nilai maksimum, dan setiap nilai yang lain akan ditransformasikan antara nilai 0 dan 1 sehingga rentang pada normalisasi ini adalah 1. Karena rentangnya hanya 1 maka nilai rata-rata dan standar deviasinya antara 0 dan 1 juga (desimal).

In [44]:
#menampilkan rentang data normalisasi menggunakan minmax
cetak_rentang(data_normal)

Rentang fitur  sepal_length  adalah  1.0
Rentang fitur  sepal_width  adalah  1.0
Rentang fitur  petal_length  adalah  1.0
Rentang fitur  petal_width  adalah  1.0

In [45]:
#menampilkan rentang data normalisasi menggunakan zscore
cetak_rentang(data_zscore)

Rentang fitur  sepal_length  adalah  4.404274071759238
Rentang fitur  sepal_width  adalah  5.618992178331548
Rentang fitur  petal_length  adalah  3.3437971620673492
Rentang fitur  petal_width  adalah  3.1570957553844208

In [46]:
#menampilkan rata-rata data normalisasi menggunakan minmax
data_normal.mean()

sepal_length    0.428346
sepal_width     0.435034
petal_length    0.467889
petal_width     0.456616
dtype: float64

In [47]:
#menampilkan rata-rata data normalisasi menggunakan zscore
data_zscore.mean()

sepal_length   -2.854383e-15
sepal_width    -1.943723e-15
petal_length   -1.515084e-15
petal_width    -7.490305e-16
dtype: float64

In [48]:
#menampilkan standar deviasi data normalisasi menggunakan minmax
data_normal.std()

sepal_length    0.227052
sepal_width     0.177968
petal_length    0.299061
petal_width     0.316747
dtype: float64

In [49]:
#menampilkan standar deviasi data normalisasi menggunakan zscore
data_zscore.std()

sepal_length    1.0
sepal_width     1.0
petal_length    1.0
petal_width     1.0
dtype: float64